<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="card ">
            <div class="card-img">
                <img src="https://static.wixstatic.com/media/f75422_4008c0ca6d924df785771cd8135f6793~mv2_d_1249_1264_s_2.jpg/v1/fill/w_705,h_705,al_c,q_85,usm_0.66_1.00_0.01/f75422_4008c0ca6d924df785771cd8135f6793~mv2_d_1249_1264_s_2.webp" alt='Charan"s Photo here --may be cross origin - BEST SERVED IN CHROME'>
                <!-- <img src="../../../assets/charan_coat.png"> -->
            </div>
            <div class="card-header">
                Charanbabu Karnam
            </div>
            <div class="card-block">
                <p class="card-text">
                    successful professional having expertise in Design, Development and Maintenance. Has a plethora of interest to learn new technologies and always challenge myself to the emerging technologies.
                    <a href="https://charanbabukarnam.wixsite.com/cv28">Check my details here </a>
                </p>
            </div>

        </div>
    </div>
</div>