@media screen and (max-width: 768px) {
    .sidenav {
        display: none
    }
}

.main-container {
    .content-area {
        h1 {
            color: #007cbb;
        }
    }
    .mrq-ie {
        width: 100%;
    }
}