<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
    <div class="main-container">
        <div class="alert alert-app-level">
            <marquee class="mrq-ie">BEST SERVED IN CHROME -- Have a great Experience here
                <clr-icon size='24' shape="thumbs-up"></clr-icon>
            </marquee>
        </div>
        <header class="header header-6">
            <div class="branding">
                <a href="#">
                    <span class="title">Tracker Challenge</span>
                </a>
            </div>
        </header>
        <!-- <nav class="subnav">
          sub nav bar links
      </nav> -->
        <div class="content-container">
            <div class="content-area">
                <h1>TODO Tracker</h1>
                <router-outlet></router-outlet>
                <!-- <ck-user-card></ck-user-card> -->
            </div>
            <nav class="sidenav">
                <section class="sidenav-content">
                    <section class="nav-group">
                        <input id="tabexample2" type="checkbox">
                        <label for="tabexample2"></label>
                        <ul class="nav-list">
                            <li>
                                <a class="nav-link active" routerLink="/users" routerLinkActive="active">Users</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/me" routerLinkActive="active">About me</a>
                            </li>
                        </ul>
                    </section>
                </section>
            </nav>
        </div>